@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-content {
  transform: translateY(-100rem);
  display: flex;
  padding: 0 2rem;
  position: fixed;
  width: 100%;
  background-color: black;
  transition: transform 0.5s;
  transform-origin: top center;
}

.dropdown-content.active {
  transform: translateY(0);
}

.background-color {
  background: rgb(4, 0, 65);
  background: linear-gradient(
    90deg,
    rgb(0, 0, 26) 0%,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 1) 95%,
    rgb(0, 0, 26)
  );
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0;
}

.trailer-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
